<section class="m-about m-about__bg">
  <div class="container-fluid">
    <div class="d-flex justify-content-end align-items-center">
      <h2 class="section-title">About sport</h2>
      <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--after">
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
      </ul>
    </div>
    <div class="m-about__text-container">
      <img src="img/main/about-sport__img.png" alt="" class="m-about__img">
      <div class="m-about__text">
        Roller hockey was born a few decades ago. Only at that time the wheels in the rollers were arranged in two rows,
        and
        such a vehicle for movement was called Quad. This sport was called differently, but most often you could hear
        about
        rink hockey. Such roller hockey has become widespread in 60 countries, and even up to this point they continue
        to
        play it.
        <div class="text-center">
          <div class="custom-btn__container m-about__btn">
            <button class="btn custom-btn custom-btn--orange">
              <span class="custom-btn__text">more</span>
            </button>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>