<section class="m-broadcast m-broadcast__bg">
  <div class="col-12">
    <div class="d-flex align-items-center">
      <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
      </ul>
      <h2 class="section-title">Broadcast</h2>
    </div>
    <div class="m-broadcast__video-container">
      <video src="" poster="img/main/broadcast-img.png" class="w-100"></video>
    </div>
  </div>
</section>