<section class="m-members m-members__bg">
  <div class="d-flex align-items-center">
    <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
    </ul>
    <h2 class="section-title">Federation members</h2>
  </div>
  <div id="memberCarousel" class="m-members__carousel">
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--1.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--2.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--3.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--4.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--5.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--6.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--5.png" alt="">
      </a>
    </div>
    <div>
      <a href="#" class="d-flex justify-content-center">
        <img src="img/main/members-slide-img--6.png" alt="">
      </a>
    </div>
  </div>
</section>