<section class="m-news m-news__bg">
  <div class="d-flex align-items-center">
    <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
      <li class="title-decoration__item"></li>
    </ul>
    <h2 class="section-title">News</h2>
  </div>
  <div id="newsSlider" class="m-news__slider">
    <div class="m-news__slide">
      <div class="m-news__slide-container m-news__slide-container--left">
        <div class="m-news__slide-img">
          <img src="img/main/news-slide-img--1.png" alt="" class="img-fluid">
        </div>
        <div class="m-news__slide-content">
          <span class="m-news__slide-text">hockey day</span>
          <span class="m-news__slide-date">/ 12.01.19</span>
          <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
          <div class="custom-btn__container">
            <button class="btn custom-btn custom-btn--orange">
              <span class="custom-btn__text">more</span>
            </button>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
          </div>
        </div>
      </div>
      <div class="d-flex m-news__slide-right">
        <div class="m-news__slide-container m-news__slide-container--center">
          <div class="m-news__slide-img position-relative">
            <img src="img/main/news-slide-img--2.png" alt="" class="img-fluid d-block d-xl-none">
            <div class="m-news__slide-content">
              <span class="m-news__slide-text">hockey day</span>
              <span class="m-news__slide-date">/ 12.01.19</span>
              <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
              <div class="custom-btn__container">
                <button class="btn custom-btn custom-btn--orange">
                  <span class="custom-btn__text">more</span>
                </button>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-news__slide-container m-news__slide-container--right">
          <div class="m-news__slide-item m-news__slide-item--top">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--3.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-news__slide-item m-news__slide-item--bottom">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--4.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/ 12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-news__slide">
      <div class="m-news__slide-container m-news__slide-container--left">
        <div class="m-news__slide-img">
          <img src="img/main/news-slide-img--1.png" alt="" class="img-fluid">
        </div>
        <div class="m-news__slide-content">
          <span class="m-news__slide-text">hockey day</span>
          <span class="m-news__slide-date">/ 12.01.19</span>
          <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
          <div class="custom-btn__container">
            <button class="btn custom-btn custom-btn--orange">
              <span class="custom-btn__text">more</span>
            </button>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
          </div>
        </div>
      </div>
      <div class="d-flex m-news__slide-right">
        <div class="m-news__slide-container m-news__slide-container--center">
          <div class="m-news__slide-img position-relative">
            <img src="img/main/news-slide-img--2.png" alt="" class="img-fluid d-block d-xl-none">
            <div class="m-news__slide-content">
              <span class="m-news__slide-text">hockey day</span>
              <span class="m-news__slide-date">/ 12.01.19</span>
              <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
              <div class="custom-btn__container">
                <button class="btn custom-btn custom-btn--orange">
                  <span class="custom-btn__text">more</span>
                </button>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-news__slide-container m-news__slide-container--right">
          <div class="m-news__slide-item m-news__slide-item--top">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--3.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-news__slide-item m-news__slide-item--bottom">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--4.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/ 12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-news__slide">
      <div class="m-news__slide-container m-news__slide-container--left">
        <div class="m-news__slide-img">
          <img src="img/main/news-slide-img--1.png" alt="" class="img-fluid">
        </div>
        <div class="m-news__slide-content">
          <span class="m-news__slide-text">hockey day</span>
          <span class="m-news__slide-date">/ 12.01.19</span>
          <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
          <div class="custom-btn__container">
            <button class="btn custom-btn custom-btn--orange">
              <span class="custom-btn__text">more</span>
            </button>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
            <span class="custom-btn__decoration-item"></span>
          </div>
        </div>
      </div>
      <div class="d-flex m-news__slide-right">
        <div class="m-news__slide-container m-news__slide-container--center">
          <div class="m-news__slide-img position-relative">
            <img src="img/main/news-slide-img--2.png" alt="" class="img-fluid d-block d-xl-none">
            <div class="m-news__slide-content">
              <span class="m-news__slide-text">hockey day</span>
              <span class="m-news__slide-date">/ 12.01.19</span>
              <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
              <div class="custom-btn__container">
                <button class="btn custom-btn custom-btn--orange">
                  <span class="custom-btn__text">more</span>
                </button>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
                <span class="custom-btn__decoration-item"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-news__slide-container m-news__slide-container--right">
          <div class="m-news__slide-item m-news__slide-item--top">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--3.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-news__slide-item m-news__slide-item--bottom">
            <div class="d-flex">
              <div class="m-news__slide-img">
                <img src="img/main/news-slide-img--4.png" alt="" class="img-fluid">
              </div>
              <div class="m-news__slide-content">
                <span class="m-news__slide-text">hockey day</span>
                <span class="m-news__slide-date">/ 12.01.19</span>
                <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                <div class="custom-btn__container">
                  <button class="btn custom-btn custom-btn--orange">
                    <span class="custom-btn__text">more</span>
                  </button>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                  <span class="custom-btn__decoration-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>