<section class="m-partners">
  <div class="m-partners__bg m-partners__bg--left">
    <div class="m-partners__bg m-partners__bg--right">
      <div class="d-flex align-items-center">
        <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
        </ul>
        <h2 class="section-title">Partners and Sponsors</h2>
      </div>
      <div id="partnersCarousel" class="m-partners__carousel">
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center align-items-center">
            <img src="img/main/partners-slide-img--1.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
