<section class="m-photo m-photo__bg m-photo__bg--right">
  <div class="m-photo__bg m-photo__bg--left">
    <div class="d-flex align-items-center">
      <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
        <li class="title-decoration__item"></li>
      </ul>
      <h2 class="section-title">Photo</h2>
    </div>
    <div id="photoSlider" class="m-photo__slider">
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--1.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--2.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--3.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--4.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--1.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--2.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--3.png" alt="" class="img-fluid">
      </div>
      <div class="m-photo__slide">
        <img src="img/main/photo-slide-img--4.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>