<section class="m-social">
  <div class="m-social__bg m-social__bg--left">
    <div class="m-social__bg m-social__bg--right">
      <div class="d-flex align-items-center">
        <ul class="list-unstyled title-decoration title-decoration--blue title-decoration--before">
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
          <li class="title-decoration__item"></li>
        </ul>
        <h2 class="section-title">We are in social networks</h2>
      </div>
      <div class="m-social__container">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4 text-center">
              <img src="img/main/social__plug-img.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-4 text-center">
              <img src="img/main/social__plug-img.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-4 text-center">
              <img src="img/main/social__plug-img.png" alt="" class="img-fluid w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>