<div class="m-top-slider__container">
  <div id="mainTopSlider" class="m-top-slider">
    <div class="m-top-slider__slide m-top-slider__slide-img">
      <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
      <img src="img/main/slider-img.png" alt="" class="img-fluid">
    </div>
    <div class="m-top-slider__slide m-top-slider__slide-img">
      <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
      <img src="img/main/slider-img.png" alt="" class="img-fluid">
    </div>
    <div class="m-top-slider__slide m-top-slider__slide-img">
      <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
      <img src="img/main/slider-img.png" alt="" class="img-fluid">
    </div>
    <div class="m-top-slider__slide m-top-slider__slide-img">
      <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
      <img src="img/main/slider-img.png" alt="" class="img-fluid">
    </div>
    <div class="m-top-slider__slide m-top-slider__slide-img">
      <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
      <img src="img/main/slider-img.png" alt="" class="img-fluid">
    </div>
  </div>
</div>