<div class="container-fluid">
  <div class="navbar-container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="#"><img src="img/icons/logo.png" alt="logo" class="img-fluid w-100"></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
              aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-uppercase" href="#">home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">calendar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownIISNF" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">iishf</a>
            <div class="dropdown-menu" aria-labelledby="dropdownIISNF">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownTournaments" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">tournaments</a>
            <div class="dropdown-menu" aria-labelledby="dropdownTournaments">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">member countries</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownTournaments" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">press center</a>
            <div class="dropdown-menu" aria-labelledby="dropdownTournaments">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">documents</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
